<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>
</head>
<body>
  <div class="container">
    <div class="success-icon">
      <i class="fas fa-check-circle"></i>
    </div>
    <h1 class="title">Password Reset Successful!</h1>
<!--    <p class="description">An email has been sent to your registered email address with instructions on how to reset your password.</p>-->
<!--    <p class="support">If you don't receive an email within a few minutes, please check your spam folder or contact our support team.</p>-->
  </div>
</body>
</html>
